appdirs==1.4.4
click==7.1.2
click-aliases==1.0.1
click-default-group==1.2.2
click-help-colors==0.9.1
colorama==0.4.6
commonmark==0.9.1
greenlet==2.0.2
lxml==4.9.1
mpmath==1.2.1
packaging==21.3
py==1.11.0
Pygments==2.14.0
pyparsing==3.0.9
pyshark==0.5.3
python-dateutil==2.8.2
rich==9.13.0
six==1.16.0
SQLAlchemy==1.4.47
sympy==1.11.1
tabulate==0.8.10
task==0.2.5
typing-extensions==3.10.0.2
